:root {
	--button-color: #04AA6D;
	--button-hover-color: #059862;
}

body {
	font-family: sans-serif;
	background-image: url("Source/Images/background_in_space.webp");
	height: 100vh;
	/* Assurez-vous que le html et le body prennent toute la hauteur */
	margin: 0;
	/* Supprimez les marges par défaut */
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.header {
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	display: none; 
}

.centerWrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.managePanel {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.btn {
	height: 32px;
	display: inline-block;
	background-color: var(--button-color);
	border: none;
	color: white;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s;
}

.btn:hover {
	background-color: var(--button-hover-color);
}

.btnMoreLess {
	color: white;
	width: 32px;
	text-align: center;
	/* text-decoration: none; */
	display: inline-block;
	font-size: 16px;
	float: left;
	/* display: flex; */
	/* justify-content: center;
    align-items: center; */

}

.btnGroupMoreLess {
	display: inline-block;
	text-align: center;
}

#btnPrevious {
	padding-left: auto;
	padding-right: auto;
	border-radius: 5px 0px 0px 5px;
	border-right: 1px solid var(--button-hover-color);
}

#btnNext {
	border-radius: 0px 5px 5px 0px;
	border-left: 1px solid var(--button-hover-color);
}

.btnGroupMoreLess:not(:last-child) {
	border-right: none;
	/* Prevent double borders */
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 50%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #04AA6D;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #04AA6D;
	cursor: pointer;
}

#backButton {
	width: 64px;
	border-radius: 5px;
}

.infoPanel {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.inputWrapper {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	/*Using a background color, but you can use a background image to represent a button*/
	border-radius: 4px;
	padding: 0 16px;
	height: 40px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.16);
	margin-right: 16px;
	width: 132px;
	color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 8px;

}
#fileExtensionMessage{
	display: none; 
	background-color: #f44336;
    color: white; 
    padding: 16px;
    text-align: center; 
    border-radius: 8px;
    margin: 16px 8px;
    font-size: 16px; 
}

.fileInput {
	cursor: pointer;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	/*This makes the button huge. If you want a bigger button, increase the font size*/
	font-size: 50px;
	/*Opacity settings for all browsers*/
	opacity: 0;
	-moz-opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

q .inputWrapper:hover {
	background-color: #f3f4f6;
}

.inputWrapper:active {
	background-color: #e5e7eb;
}

.fileIcon {
	height: 20px;
	width: 20px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type=file]::file {
	display: none;
}

.panel
{
	background-color: white;
	border-radius: 4px;
	display: flex;
	width: 100%;
}
.panelContainer
{
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
	width: 100%;
	height: 100%;
	display: none;
} 
#map
{
	margin: 4px 2px 4px 4px;
}

#giteSimulateur
{
	margin: 4px 4px 4px 2px;
	width: 50%;
}
